* {
    background-color:dimgrey;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:ivory;
}
img {
    display: block;
    margin: auto;
}
h1, h2 {
    border-bottom: 1px solid;
    background-color:darkslategrey;   
}
.header-style {  
    text-align: center;
    margin: 0 auto;
    margin-bottom: 2rem;
    width: 90%;
}

.main {
    margin: 0 auto;
    margin-bottom: 2rem;
    width: 75%;
    padding: 10px;
}
.pre-code {
  display: block;
  white-space: pre-wrap;
  align-items: center;
  background-color:grey;
}
.footer {
    border-top: 2px solid;
    width: 100%;
    height: 4rem;
    background-color:dimgrey;
    color:black;
    display: flex; 
    flex-wrap: wrap;
    margin: 0 auto;
}
.footer-container {
    background-color:black;
    margin: 0 auto;
}
.footer-github {
    display: flex;
    margin-top: 2rem;
    margin-left: 1rem;
}

.footer-name {
    display: flex;
    margin-top: 1rem;
    margin-inline: auto;
}

.name {
    text-align: center;
}

.footer-rsschool {
    display: flex;
    margin-top: 2rem;
    margin-right: 1rem;
}
