* {
    -webkit-box-sizing: border-box;
    background-color:dimgrey;
}
.header-style {
    display: block;
    margin: 0 auto;
    width: 75%;
}
.nav-list {
    text-align: left;
    font-weight: 600;
    font-size: 1rem;
    font-family: monospace;
    margin-left: .5em;
}
.self-pic {
    display: block;
    margin: 0 auto;
    border: 1px #000 solid;
    border-style: groove;
    border-radius: 1%;
}
.subtitle {
    font-weight: 400;
    text-align: right;
    border-bottom: 3px groove darkorange;
    width: 29%;
    margin-left: 70%;
}

a {
    font-weight: 700;
    text-decoration: none;
}

h1 {
border: 2px solid darkorange;
text-align: center;
background-color:darkslategrey;
color:lightgray;
text-shadow: 0px 1px black;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

ul {
    list-style: none;
    color: ivory;
  }

ul li::before {
    content: "\2225";
    color: darkorange;
    margin-left: -1em;
    width: 1em;
    display: inline-block;
  }
h2 {
    border: 2px solid black;
    text-align: center;
    background-color:darkslategrey;
    text-shadow: 1px 2px #000;
    color:lightgray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
:link {
    color: black;
}
.main {
    margin: 0 auto;
    margin-bottom: 2rem;
    width: 75%;
    padding: 10px;
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.pre-code {
  display:block;
  white-space: pre-wrap;
  align-items:flex-start;
  background-color:grey;
}
.lang-image {
    display: block;
}
.footer {
    border-top: 2px solid;
    width: 100%;
    height: 4rem;
    background-color:dimgrey;
    color:black;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}
.footer-container {
    background-color:black;
    margin: 0 auto;
}
.footer-github {
    display: flex;
    margin-top: 2rem;
    margin-left: 1rem;
}
.footer-name {
    display: flex;
    margin-top: 1rem;
    margin-inline: auto;
    text-shadow: 1px 1px black;
}
.name {
    text-align: center;

}
.name a {
    text-decoration: none;
    color:darkslategray;
}
.footer-rsschool {
    display: flex;
    margin-top: 2rem;
    margin-right: 1rem;
}
